/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 161, 138);
    color: #fff;
    padding: 10px 20px;
}

.logo {
    padding: 10px; /* Adjust the padding as needed */
}

.logo img {
    width: 150px; /* Set the width of the logo image */
    height: 50px; /* Maintain the aspect ratio */
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: rgb(244, 237, 237);
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}


.dropdown {
    list-style-type: none;
    position: absolute;
    background-color: rgb(1, 139, 139);
    padding: 3em 0;
    border-radius: 8px;
    margin: 0;
    display: none; /* Hide the dropdown by default */
}



.nav-link:hover .dropdown {
    display: block; /* Display the dropdown when hovering over the nav link */
}
